		<footer>
			<div>
				<center>
				by David Haberthür |
				<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:18px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt=""><img style="height:18px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt=""><img style="height:18px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="CC BY-SA 4.0"></a> |
				hosted by <a href="https://pages.github.com">GitHub Pages</a>
				{{ partial "repository-link.html" (dict "action" "view" "page" .) }}
				{{ partial "repository-link.html" (dict "action" "edit" "page" .) }}
				</center>
			</div>
		</footer>
	</body>
</html>
